body {
	font-family: 'Source Serif Pro', sans-serif;
}

a {
	font-weight: bold;
}

h1 {
  font-family: 'Playfair Display', serif;
	font-size: 48px;
	font-weight: 900;
	font-style: italic;
	margin: 1px 0px 10px 0px;
}

h2 {
  font-family: 'Playfair Display', serif;
	font-size: 36px;
	font-weight: 900;
	margin: 5px 0px;
}

h3 {
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	font-weight: 600;
	margin: 15px 0px;
}

h4 {
	font-family: 'Playfair Display', serif;
  font-weight: 600;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 0px;
}

.outer {
  padding: 0px;
}

.selfie {
	height: auto;
	float:left;
	padding: 2px;
	margin-right: 15px;
	max-height: 150px;
	max-width: 100%;
	border: 1px solid white;
}

.about-me {
  margin: 15px;
}

.top-name {
  color: white;
  background-color: rgb(25,25,25);
	padding: 25px;
}

.work-samples {
  color: white;
  background-color: rgb(25,25,25);
  padding: 10px 25px;
}

.social-links {
  margin-top: 8px;
}

.fa {
  color: white;
  margin: 0px 3px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.fa:hover, .fa-long-arrow-left, .fa-level-down {
  color: #bf5700;
}

.work-sample-inner {
	padding: 25px;
}

.work-sample-img {
	border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
	width: auto;
	max-width: 180px;
	max-height: 180px;
}

.clip-link {
	font-family: 'Source Serif Pro', sans-serif;
	font-weight: 400;
	font-size: 12px;
  font-style: italic;
}
