h1 {
	font-family: 'Droid Serif', serif;
	font-weight: 700;
	font-style: italic;
	font-size: 72px;
	letter-spacing: -1px;
	text-align: center;
}

h2 {
	font-family: 'Raleway', serif;
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	background-color: rgba(191, 87, 0, .6);
	color: white;
	padding: 2px 0px 2px 0px;
	margin: 30px 0px 20px 0px;
}

p {
	font-family: 'Raleway', serif;
	font-weight: 300;
	font-size: 20px;
}

a {
	font-family: 'Raleway', serif;
	font-weight: 700;
	font-size: 14px;
}

.resume {
	font-family: 'Raleway', serif;
	font-weight: 700;
	font-size: 20px;
}

.lead {
	font-family: 'Raleway', serif;
	font-weight: 700;
	font-size: 30px;
	letter-spacing: -1px;
}

.cliphead {
	font-family: 'Raleway', serif;
	font-weight: 700;
	font-size: 30px;
	letter-spacing: 1px;
	text-align: center;
	background-color: rgba(191, 87, 0, .6);
	color: white;
	padding: 2px 0px 2px 0px;
	margin: 0px 0px 20px 0px;
}

.fa-4x {
	color: rgba(0, 0, 0, .8);
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

.fa-4x:hover {
	color: rgba(191, 87, 0, .6);
}

.subtitle {
	font-family: 'Droid Serif', serif;
	font-weight: 700;
	font-size: 30px;
	letter-spacing: 0px;
	text-align: center;
	background-color: rgba(191, 87, 0, .6);
	color: white;
	padding: 2px 0px 2px 0px;
	margin: 10px 0px 1px 0px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;	
}

.right-block {
    display: block;
    margin-left: auto;	
}

.university {
	font-family: 'Raleway', serif;
	font-weight: 700;
	font-size: 24px;
	margin-top: 20px;
}

.clips {
	font-family: 'Raleway', serif;
	font-weight: 700;
	font-size: 24px;
	margin: 5px 0px 0px 0px;
	padding: 0px 0px -10px 0px;
}

.exp1 {
	font-family: 'Raleway', serif;
	font-weight: 700;
	font-size: 24px;
	text-align: center;
	margin: 5px 0px 0px 0px;
	padding: 0px 0px -10px 0px;
}

.exp2 {
	font-family: 'Raleway', serif;
	font-weight: 300;
	font-size: 20px;
	text-align: center;
	margin-bottom: 0px;
}

.expdesc {
	font-family: 'Raleway', serif;
	font-weight: 300;
	font-size: 14px;
	text-align: center;
	margin-bottom: 0px;
}

.edutext {
	font-family: 'Raleway', serif;
	font-weight: 300;
	font-size: 20px;
	margin-bottom: 0px;
}